.form {
    display: flex;
    flex-direction: column;
    gap: 6.9375rem;
}

.container{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-family: var(--primaryFont);
    font-weight: 600;
    font-size: 16px;
}

.container div{
    display: flex;
    flex-direction: column;
    gap: .3125rem;
}

.input {
    height: 30px;
    border: none;
    border-radius: 4px;
    padding: 16px;
    font-family: Manrope;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    color: var(--primaryGray);
    background-color: var(--backgroundBlue);

}

.Login{
    height: 60px;
    border-radius: 4px;
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-left: 20px;
    background-color: var(--primaryOrange);
    color: white;
    font-family: var(--primaryFont);
    font-weight: 600;
    font-size: 20px;

    &:hover{
        background-color: var(--hoverOrange);
    }
}

.Register{
    height: 60px;
    border-radius: 4px;
    border-width: 2px;
    border-style: solid;
    border-color: var(--primaryPurple);
    font-family: var(--primaryFont);
    font-weight: 600;
    font-style: SemiBold;
    font-size: 20px;
    color: var(--primaryPurple);

    &:hover{
        border-color: var(--hoverPurple);
        color: var(--hoverPurple)
    }
}